# .zlogin is sourced on the start of a login shell. This file is often used to start X using startx. Some systems start X on boot, so this file is not always very useful.
# {{ ansible_managed }}
{{ bossjones__oh__my__zsh__zlogin }}
